@import "tailwindcss";
@theme inline {
	--color-extwuwa-accent: var(--wuwa-accent);
	--color-extzzz-accent: var(--zzz-accent);
	--color-extzzz-accent-2: var(--zzz-accent-2);
	--color-extgi-accent: var(--gi-accent);
	--color-extsr-accent: var(--sr-accent);
	--color-extef-accent: var(--ef-accent);
	--color-extbutton: var(--extbutton);
	--color-extbackground: var(--extbackground);
	--color-extforeground: var(--extforeground);
	--color-extcard: var(--extcard);
	--color-extcard-foreground: var(--extcard-foreground);
	--color-extpopover: var(--extpopover);
	--color-extpopover-foreground: var(--extpopover-foreground);
	--color-extprimary: var(--extprimary);
	--color-extprimary-foreground: var(--extprimary-foreground);
	--color-extsecondary: var(--extsecondary);
	--color-extsecondary-foreground: var(--extsecondary-foreground);
	--color-extmuted: var(--extmuted);
	--color-extmuted-foreground: var(--extmuted-foreground);
	--color-extaccent: var(--extaccent);
	--color-extaccent-foreground: var(--extaccent-foreground);
	--color-extdestructive: var(--extdestructive);
	--color-extwarn: var(--extwarn);
	--color-extsuccess: var(--extsuccess);
	--color-extlink: var(--extlink);
	--color-extborder: var(--extborder);
	--color-extinput: var(--extinput);
	--color-extring: var(--extring);
	--color-extchart-1: var(--extchart-1);
	--color-extchart-2: var(--extchart-2);
	--color-extchart-3: var(--extchart-3);
	--color-extchart-4: var(--extchart-4);
	--color-extchart-5: var(--extchart-5);
	--color-extsidebar: var(--extsidebar);
	--color-extsidebar-foreground: var(--extsidebar-foreground);
	--color-extsidebar-primary: var(--extsidebar-primary);
	--color-extsidebar-primary-foreground: var(--extsidebar-primary-foreground);
	--color-extsidebar-accent: var(--extsidebar-accent);
	--color-extsidebar-accent-foreground: var(--extsidebar-accent-foreground);
	--color-extsidebar-border: var(--extsidebar-border);
	--color-extsidebar-ring: var(--extsidebar-ring);
}
:root {
	--wuwa-accent: #cdb896;
	--zzz-accent: #efdd00;
	--zzz-accent-2: #f68f36;
	--gi-accent: #d1bc8e;
	/* --sr-accent: #e2dac8; */
	--sr-accent: #c2ad84;
	--ef-accent: #fefd4d;
	--card-height: 17rem;
	/* Common values across themes */
	--foreground: oklch(0.985 0.001 106.423);
	--card-foreground: oklch(0.985 0.001 106.423);
	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: oklch(0.985 0.001 106.423);
	--primary: oklch(0.923 0.003 48.717);
	--primary-foreground: oklch(0.216 0.006 56.043);
	--secondary: oklch(0.268 0.007 34.298);
	--secondary-foreground: oklch(0.985 0.001 106.423);
	--muted: #837660;
	--muted-foreground: oklch(0.709 0.01 56.259);
	--accent-foreground: oklch(0.985 0.001 106.423);
	--destructive: oklch(80.8% 0.114 19.571);
	--warn: oklch(95.566% 0.0742 95.941);
	--success: oklch(87.1% 0.15 154.449);
	--link: oklch(80.9% 0.105 251.813);
	--ring: oklch(0.553 0.013 58.071);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar-foreground: oklch(0.985 0.001 106.423);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0.001 106.423);
	--sidebar-accent: oklch(0.268 0.007 34.298);
	--sidebar-accent-foreground: oklch(0.985 0.001 106.423);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.553 0.013 58.071);

	--radius-main: 0.5rem;
	--border-w-main: 1px;
	--button: #2d2a28;
	--background: #0c0a09;
	--card: oklch(21.612% 0.00611 55.916);
	--accent: var(--wuwa-accent);
	--border: #4e463a;
	--input: oklch(100% 0.00011 271.152 / 0.15);
	--sidebar: oklch(0.216 0.006 56.043);
}

::-webkit-scrollbar {
	width: 10px;
}
.thin::-webkit-scrollbar {
	width: 4px;
}
::-webkit-scrollbar-track {
	background: var(--card);
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: color-mix(in oklab, var(--accent) 50%, transparent);
	border-radius: 10px;
}
.thin::-webkit-scrollbar {
	height: 7px;
}
.thin::-webkit-scrollbar-track {
	background: var(--card);
	border: solid var(--card) 2px;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb {
	background: color-mix(in oklab, var(--accent) 50%, transparent);
	border: solid var(--background) 1px;
	border-radius: 10px;
}
